@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@keyframes grayCycle {
  0%   { color: #9ca3af; }   /* Tailwind gray-400 */
  50%  { color: #4b5563; }   /* Tailwind gray-700 */
  100% { color: #9ca3af; }   /* back to gray-400 */
}


@theme {

    --font-tech: 'Orbitron';
    --animate-gray-cycle: grayCycle 3s ease-in-out infinite;
    --font-header: 'Audiowide'
}
